<!DOCTYPE html>
<html>
    <head>
        <title>Learn Front-End</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\css\my-styleshee.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <h1>Learn JavaScript, CSS</h1>
        <!-- start draggable button-->
        <div id="mydiv">
            <button class="dropdownbtn" id="mydivbutton"></button>
            <div class="container">
                <ol></ol>
            </div>
        </div>
        <!-- end of draggable button-->     
        
        <div class="mytablecontainer"></div>
        
        <script src="..\js\my-script.js"></script>
    </body>
</html>
